[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rcrimeanalysis"]
	path = rcrimeanalysis
	url = https://github.com/jsspaulding/rcrimeanalysis
